<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Task</title>
</head>
<body>
    <div align="center">
        <h1>Create New Task</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${task}" method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Title</td>
                    <td>
                    	<input type="text" th:field="*{task_title}" />
                    </td>
                </tr>
                <tr style = "max-height : 30px; max-width : 50px; ">
                    <td>Description</td>
                    <td>
                    <textarea name = "message" rows = "12" cols = "50" type="text" th:field="*{task_description}" >
                    <!--	<input type="text" th:field="*{task_description}"  /> -->
                    </textarea>
                    </td>
                </tr>
                <tr>
                    <td>due Date</td>
                    <td>
                    	<input type="date" th:field="*{dueDate}" />
                    </td>
                </tr>
                <tr>
                    <td>status</td>
                    <td>
                    	  <select th:field="*{status_id}">
						    <option status_id="1" value="1" >pending</option>
						    <option status_id="2" value = "2" >completed</option>
						  </select >
                    </td>
                </tr>
                <tr>
                    <td>priority</td>
                    <td>
                    	  <select th:field="*{priority_id}">
						    <option priority_id="1" value = "1">high</option>
						    <option priority_id="2" value = "2" >medium</option>
						    <option priority_id="3" value = "3" >low</option>
						  </select>
                    </td>
                </tr>                             
                <tr>
                    <td colspan="2">
                    	<button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>